{#- VARS -#}
{%- set subnet_ns = namespace() -%}
{%- set subnet_ns.dhcp_subnet_option_router = false -%}
{%- set subnet_ns.dhcp_subnet_option_dns = false -%}
{%- set dhcp_option = "dhcp-option=" -%}
{%- set dhcp_option_tag = "dhcp-option=tag:" -%}
{%- set dhcp_option_force = "dhcp-option-force=" -%}
{%- set dhcp_option_force_tag = "dhcp-option-force=tag:" -%}
{%- set dhcp_set_tag = ",set:" -%}
{%- set dhcp_client_options = namespace() -%}
{%- set dhcp_client_options.host = "" -%}
############################################################################
# Generated for subnet {{ subnet_name | lower }} Network {{subnet_network}}
############################################################################
{# start generating dhcp range -#}
dhcp-range={{ subnet_name | lower }},{{ subnet_dhcp_range_start }},{{ subnet_dhcp_range_end }},{{ subnet_mask }},{{subnet_dhcp_confvar.custom_DHCP_CONF_VAR_LEASE_TIME}}
{#- end generating dhcp range #}
#
{# start generating subnet dhcp option -#}
{%- if subnet_dhcp_option -%}
    {%- for key, option in subnet_dhcp_option.items() -%}
        {%- if "force" in key|lower -%}
            {{- dhcp_option_force -}}
        {%- else -%}
            {{- dhcp_option -}}
        {%- endif -%}
        {{- subnet_name | lower }}{{  ',' + (option | trim) + '\n'}}
        {%- if option.startswith('3,') -%}
            {%- set subnet_ns.dhcp_subnet_option_router = true -%}
        {%- endif -%}
        {%- if option.startswith('6,') -%}
            {%- set subnet_ns.dhcp_subnet_option_dns = true -%}
        {%- endif %}
    {%- endfor -%}
{%- endif -%}
{% if not subnet_ns.dhcp_subnet_option_router -%}
    {{- dhcp_option }}{{ subnet_name | lower -}},3,{{ subnet_gw -}}
{%- endif %}
{% if not subnet_ns.dhcp_subnet_option_dns -%}
    {{ dhcp_option }}{{ subnet_name | lower -}},6,{{ subnet_nameservers -}}{{ "\n" -}}
{% endif %}
{#- end generating subnet dhcp option #}
{{- "#" }}
{# start generating client specific dhcp option -#}
{%- for key, value in subnet_address_dhcp_option.items() -%}
    {%- for address in addresses -%}
        {%- if address['id'] == key -%}
            {%- for sub_key, sub_value in value.items() -%}
                {%- if "force" in sub_key|lower -%}
                    {{- dhcp_option_force_tag }}
                {%- else -%}
                    {{- dhcp_option_tag }}
                {%- endif -%}
                {%- if address.hostname -%}
                   {{ address.hostname.split('.') | first | lower | default('device') }}-{{ subnet_name | lower }}
                {%- else %}
                    {{- "device" -}}
                {%- endif %}
                {%- if address.mac %}
                   {{- '-' + address.mac.split(':') | join('') | lower }}
                {%- else %}
                   {{- '-' + address.id|string }}
                {%- endif %}
                {{- ',' + sub_value + '\n'}}
            {%- endfor -%}
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}
{# end generating client specific dhcp option -#}
#
{#- start generating dhcp host -#}
{%- for address in addresses | sort(attribute='ip') -%}
{% if address.mac and address.is_gateway == 0 -%}
dhcp-host={{ address.mac | lower }},{{ subnet_name | lower }},{{ address.ip }},{{ address.hostname | lower -}}
{% elif not address.mac and address.hostname and address.is_gateway == 0 -%}
dhcp-host={{ address.hostname.split('.')[0] | lower }},{{ subnet_name | lower }},{{ address.ip -}}
{% endif -%}
{%- if address.id in subnet_address_dhcp_option -%}{{- dhcp_set_tag -}}
            {%- if address.hostname -%}
                {{- address.hostname.split('.') | first | lower | default('device') -}}-{{ subnet_name | lower -}}
            {%- else -%}device{%- endif -%}
            {%- if address.mac -%}
                {{- '-' + address.mac.split(':') | join('') | lower -}}
            {%- else -%}
                {{- '-' + address.id|string -}}
            {%- endif -%}
{%- endif %}
{% endfor -%}
{#- end generating dhcp host -#}